.span12{
    margin-top: 40px;
}
.box{
    padding-top: 1.5cm;
    text-align: center;
    margin-top: 20%;
    margin-left: 20%;
    height: 20rem;
    width: 60%;
    background-color: rgb(149, 133, 163);
    border: 2px solid rgb(202, 15, 152);
    /* box-shadow: 50em; */
     border-radius: 2%; 
    /* border: 70cm; */
    /* border-color: rgb(230, 11, 11); */
}
#back{
     width: 100%;
     height: 1000px;
     background-color: aqua; 
}





